.shadow {
    --shadow-offset: 12px;
    position: relative;
    border-radius: 32px;
    backdrop-filter: brightness(70%) saturate(120%) contrast(220%);
    transform: translate(var(--shadow-offset),var(--shadow-offset));
}

.bubble {
    padding: 32px;
    border-radius: 32px;
    background-color: white;
    height: 100%;
    width: 100%;
    transform: translate(calc(-1 * var(--shadow-offset)),calc(-1 * var(--shadow-offset)));
}

.contentWrapper {
    overflow: hidden;
}
