.shadow {
  position: relative;
  backdrop-filter: brightness(70%) saturate(120%) contrast(220%);
  transform: translateY(16px);
}

.bubble {
  padding: 32px 24px;
  background-color: white;
  height: 100%;
  width: 100%;
  transform: translateY(-16px);

  position: relative;
}

.titleStripe {
  display: flex;
  gap: 200px;
}

.titleStripe div {
  width: 100%;
  border-top: 12px dashed #ffe581;
}

.iceCream {
  max-width: 100%;
  margin: auto;
  height: 136px;
  
  position: absolute;
  left: 50%;
  transform: translate(-50%, -85%) scaleX(1.05);
}

.heroTitle {
  text-align: center;
  color: #ffd744;
  width: 100%;
  font-size: 128px;
  text-shadow: 8px 8px 0px hsl(50, 100%, 82%);
  white-space: nowrap;
  font-family: fredoka;
}

@media screen and (max-width: 1028px) {
  .heroTitle {
    font-size: calc(12vw + 4px);
  }

  .titleStripe {
    gap: 22%;
  }
}

@media screen and (max-width: 720px) {
  .iceCream {
    height: 100px;
  }
  
  .heroTitle {
    text-shadow: 4px 4px 0px hsl(50, 100%, 82%);
  }

  .titleStripe {
    gap: 120px;
  }

  .titleStripe div{
    border-top: 8px dashed #ffe581;
  }
}
