@font-face {
  font-family: fredoka;
  src: url(../../assets/Fredoka/Fredoka-VariableFont.ttf);
}

.home {
    display: grid;
    background-clip: border-box;
}

/* .titleBubble {} */

.heroTitle {
    margin-top: 24px;
    color: #ffd744;
    font-size: 128px;
    text-shadow: 8px 8px 0px hsl(50, 100%, 82%);
    white-space: nowrap;
    font-family: fredoka;
}
