@font-face {
  font-family: fredoka;
  src: url(../../assets/Fredoka/Fredoka-VariableFont.ttf);
}

.home {
  display: grid;
  background-clip: border-box;
}

.titleBubble {
  max-width: 900px;
  width: 100%;
  justify-self: center;
}

.titleStripe {
  display: flex;
  gap: 200px;
}

.titleStripe div {
  width: 100%;
  border-top: 12px dashed #ffe581;
}

.heroTitle {
  text-align: center;
  color: #ffd744;
  width: 100%;
  font-size: calc(14vw - 16px);
  text-shadow: 8px 8px 0px hsl(50, 100%, 82%);
  white-space: nowrap;
  font-family: fredoka;

}

@media screen and (min-width: 1028px) {
  .heroTitle {
    font-size: 128px;
  }
}

@media screen and (max-width: 600px) {
  .titleStripe div {
    border-top: 8px dashed #ffe581;
  }
}