@font-face {
  font-family: fredoka;
  src: url(../../assets/Fredoka/Fredoka-VariableFont.ttf);
}

.home {
  display: grid;
  background-clip: border-box;
}

.gridWrapper {
  margin-top: 32px;
  width: 100%;
  display: grid;
  grid-template-columns: 500px 300px;
  grid-auto-rows: min-content;
  place-content: center;
  gap: 32px;
}

.titleStripe {
  display: flex;
  gap: 200px;
}

.titleStripe div {
  width: 100%;
  border-top: 12px dashed #ffe581;
}

.heroTitle {
  text-align: center;
  color: #ffd744;
  width: 100%;
  font-size: calc(14vw - 16px);
  text-shadow: 8px 8px 0px hsl(50, 100%, 82%);
  white-space: nowrap;
  font-family: fredoka;

}

@media screen and (min-width: 1028px) {
  .heroTitle {
    font-size: 128px;
  }
}

@media screen and (max-width: 720px) {
  .titleStripe {
    display: none;
  }

  .heroTitle {
    text-shadow: 4px 4px 0px hsl(50, 100%, 82%);
  }
}