nav {
    z-index: 1;
    height: 64px;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

nav ul {
    display: flex;
    gap: 32px;
}

nav ul li {
    position: relative;
    background-color: white;
    padding: 4px 8px;
    border-radius: 8px;
    transform-style: preserve-3d;

    transition: all 0.3s;
}

nav ul li::before {
    position: absolute;
    top: 4px;
    left: 4px;

    height: 100%;
    width: 100%;
    border-radius: 10px;

    content: "";
    backdrop-filter: brightness(65%) saturate(120%) contrast(240%);
    transition: all 0.3s;

    /* for keeping ::before behind li */
    transform: translateZ(-1px);
}

nav ul li:hover {
    cursor: pointer;
    transform: translate(2px, 2px);
}

nav ul li:hover::before {
    top: 2px;
    left: 2px;
}