@font-face {
    font-family: bubbleboddy-neue;
    src: url(../../assets/bubbleboddy_neue/bubbleboddyneue-regular.ttf);
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

nav {
    z-index: 1;
    max-width: 100vw;
    height: 96px;
    padding: 0 24px;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

nav ul {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(32px, 150px));
    gap: 32px;
}

.iceCream {
    max-width: 100%;
    margin: auto;
    height: 140px;
    transform: translateY(28%) scaleX(1.05);
}

.navLink {
    position: relative;
    aspect-ratio: 140 / 42;
    max-width: 100%;
    width: 140px;
    height: auto;
    margin: auto;
    border-radius: 14px;
    backdrop-filter: brightness(65%) saturate(120%) contrast(240%);

    transition: all 0.2s;
}

.navLink img {
    position: absolute;
    aspect-ratio: 140 / 42;
    max-width: 100%;
    width: 140px;
    border-radius: 14px;
    background-color: #ffffff48;
    transform: translate(-4px, -4px);
    transition: all 0.2s;
}

.navLink:not(.selected):hover {
    cursor: pointer;
}

.navLink:not(.selected):hover img {
    transform: translate(-2px, -2px);
}

.navLink:not(.selected):active img {
    transition: all 0.01s;
    transform: translate(0, 0);
}

.selected {
    background-color: #ffffff00;
    overflow: hidden;
    border-bottom: 1px solid hsl(40, 100%, 98%);
}

.selected img {
    background-color: #ffffff00;
    transform: translate(4px, 4px);
    transition: all 0.2s;
}

.selected:hover img {
    cursor: pointer;
    transform: translate(2px, 2px);
}

.selected:active img {
    cursor: pointer;
    transform: translate(6px, 6px);
    transition: all 0.04s;
}

@media screen and (max-width: 720px) {
    nav ul {
        gap: 16px;
        grid-template-columns: repeat(4, minmax(32px, 150px));
    }

    .selected {
        font-size: 24px;
    }
    
    .iceCream {
        display: none;
    }
}