@font-face {
    font-family: bubbleboddy-neue;
    src: url(../../assets/bubbleboddy_neue/bubbleboddyneue-regular.ttf);
}

nav {
    z-index: 1;
    height: 96px;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

nav ul {
    display: flex;
    gap: 32px;
}

.navLink {
    width: 140px;
    height: 42px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 14px;
    background-color: #ffffff48;

    transition: all 0.2s;
}

.navLink img {
    width: 140px;
    height: 42px;
}

.navLink::before {
    position: absolute;
    top: 4px;
    left: 4px;

    height: 100%;
    width: 100%;
    border-radius: 14px;

    content: "";
    backdrop-filter: brightness(65%) saturate(120%) contrast(240%);
    transition: all 0.2s;

    /* for keeping ::before behind li */
    transform: translateZ(-1px);
}

.navLink:hover {
    cursor: pointer;
    transform: translate(2px, 2px);
}

.navLink:hover::before {
    top: 2px;
    left: 2px;
}

.navLink:active {
    transform: translate(4px, 4px);
}

.navLink:active::before {
    top: 0;
    left: 0;
}
